

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body , html {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

                    /* Header */

header {
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.8)), url(img/header.jpeg);
    height: 100%;
    width: 100%;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.header-content h2 {
    font-size: 4vmin;
}

.line {
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;

}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn {
    padding: 8px 15px;
    background-color: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}

                    /* End Header*/
                    /* Nav */

.nav-bar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-bar ul li {
    margin: 0 20px;
}

.nav-bar ul .active {
    color: #fc036b;
    text-decoration: underline;
    font-weight: bold;
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}
/* nav For mobile*/
@media only screen and (max-width:850px) {
    .nav-bar {
        padding: 0;
    }

    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: rgb(68, 136, 68);
        margin-top: -900px;
        transition: all 0.5s ease;
    }

    .mobile-menu {
        margin-top: 0px;
        border-bottom-left-radius: 20%;
    }

    .nav-bar ul li {
        margin: 30px auto;

    }

    .menu-btn {
        display: block;
    }   
}
                    /* End Nav*/

                    /* Events :*/
section {
    width: 80%;
    margin: 80px auto;
}

.title {
    font-size: 4vmin;
    text-align: center;
    color: rgb(102, 99, 129);
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events .row {
    margin-top: 50px;
}

.events .row img {
    width: 100%;
    height: 40vh;
}

h4 {
    font-style: 3vmin;
    color: rgb(102, 99, 129);
    margin: 20px auto;
}

p {
    color: rgb(122, 121, 132);
    padding: 0px 40px;
}

.events .ctn {
    margin-top: 30px;
}

                    /* End Events :*/
                    /* Explore :*/
.explore {
    width: 100%;
    height: 100vh;
    background-image: url(img/bg2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.explore-content {
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.explore-content h1 {
    font-style: 7vmin;
}

.explore-content .line {
    margin-bottom: 50px;
}

.explore-content p {
    color: white;
}

.explore-content .ctn {
    margin-top: 40px; 
}

                    /* End Explore :*/