

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
}

header {
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.8)), url(img/header.jpeg);
    height: 100%;
    width: 100%;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.header-content h2 {
    font-size: 4vmin;
}

.line {
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;

}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn {
    padding: 8px 15px;
    background-color: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}

a {
    text-decoration: none;
    color: white;
}